popover-tou {
    ion-title {
      text-align: center;
      .item-title{
        font-size: 40px;
        color: white;
        text-shadow: 4px 4px 6px black;
      }
      
    }

    .home-header{
      background-color: rgb(82, 126, 197);
    }

  
    ion-content {
      text-align: left;

      .item-name {
        font-size: 32px;
      }
      .item-quantity {
        font-size: 24px;
      }

      .image-container {
        min-height: 200px;
        background-size: cover;
        }
    }

    img {
      max-height: 700px;;
     
    }

    ion-card-content {
      text-align: left;
    }



  
    ion-label {
      text-align: center;
    }
}
